.recipes-section{
    display: flex;
    align-items: center;
    margin: 5rem 0.5rem -4rem 0.5rem;
    flex-wrap: wrap;
    justify-content: space-around;

}
.container{
    box-shadow: 0px 0px 6px 3px rgb(241, 240, 241);
    width: min-content;
    padding-bottom: 1rem;
    border-radius: 10px;
    margin: 0.5rem 0.5rem 4rem 0.5rem;
    cursor: pointer;
    text-align: center;
    height: 22rem;
    padding: 2rem;
    font-size: 15px;
}

.container__img{
    width: 300px;
    margin-top: -4rem;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 3px rgb(241, 240, 241);

}

.container__tags{
    color: gray;
    font-weight: 500;
}

.not-found__img{
    height:400px;
    margin: auto;
    width: 100%;
}

.not-found__title{
    text-align: center;
    margin-bottom: 5rem;
}


@media screen and (max-width:936px){
    .recipes-section{
        margin: 5rem 3rem;
    }

    .container__img{
        width: 200px;
    }

    .container{
        height: 13rem;
        font-size: 10px;

    }

    .container__tags{
        font-size: small;
        font-weight: bold;
    }
}

@media screen and (max-width:704px){
    .recipes-section{
        margin: 5rem 1rem;
        font-size:10px;
    }

}

@media screen and (max-width:740px){
    .recipes-section{
        margin: 5rem 0.5rem;
    }

    .container__img{
        width: 150px;
    }

    .container{
        height: 11rem;
    }
    .container__tags{
        display: none;
    }

}


@media screen and (max-width:500px){

    .container__img{
        width: 130px;
    }

    .container{
        height: 8.5rem;
        font-size: 8px;
    }
}

@media screen and (max-width:435px){

    .container__img{
        width: 90px;
    }

    .container{
        height: 6rem;
    }
}


