.header{
    position: relative;
}

.header__img{
    width: 100%;
    box-shadow: 0px 0px 6px 5px rgb(168, 163, 163);
}

.header__title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 700;
    font-size:5rem;
    font-family: 'Pacifico', cursive;
    outline: solid black;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
    
}
.form{
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    height: 3rem;
    width: 92%;


}
.form__search-input{
    background-color: white;
    border-radius: 25px 0px 0px 25px;
    width: 80%;
    border-color: transparent;
    outline: transparent;
    padding-left: 2rem;
    font-size: 1.4rem;
    height: 100%;

}

.form__search-btn{
    border-radius: 0px 25px 25px 0px;
    border-color: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(255, 240, 250);
    height: 100%;
}

@media screen and (max-width:1802px){
    .header__title{
        font-size:4rem;
        top: 35%;
    }

    
    .form__search-input{
        font-size: 0.9rem;
    }
    
}


@media screen and (max-width:1385px){
    .header__title{
        font-size:4rem;
        top: 42%;
    }
    
}

@media screen and (max-width:992px) {
    
    .header__title{
        font-weight: 400;
        font-size:3.5rem;
        top: 50%;
    }
}

@media screen and (max-width:864px) {
    
    .header__title{
        font-weight: 400;
        font-size:3.5rem;
        top: 40%;
        outline: none;
    }

    .form{
        align-items: center;

    }

    .form__search-input{
        font-size: 1rem;
    }

}

@media screen and (max-width:720px) {
    
    .header__title{
        font-weight: 400;
        font-size:2.5rem;
        outline: none;
    }

    .form{
        height: 2rem;
    }

    .form__search-input{
        font-size: 0.8rem;
    }
}


@media screen and (max-width:531px){

    .header__title{
        font-size:2rem;

    }
}

@media screen and (max-width:435px){

    .header__title{
        font-size:1.8rem;
        top: 45%;

    }
    .form{
        top:25%
    }
}

@media screen and (max-width:375px){
    .header__title{
        font-size:1.5rem;

    }
}
