.container-section{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 3px rgb(241, 240, 241);
    width: 60%;
    margin: auto;
}

.recipe{
    display: flex;
    flex-direction: column;
}
.recipe-information{
    width: 90%;
    text-align: center;
    margin: auto;
    font-size: 1.3rem;
}

.recipe-instructions{
    width: 90%;
    text-align: center;
    margin: auto;
    font-size: 1.3rem;

}

.recipe-instructions h1{
    font-weight: 900;
    font-size: xx-large;

}

.recipe-ingredients h1{
    font-weight: 900;
    font-size: xx-large;
}

.recipe-information__title{
    font-weight: 700;
    font-size:3rem;
    font-family: 'Pacifico', cursive;
    text-align: center;
    background-color: rgb(255, 240, 250);
    padding-bottom: 15px;
}

.recipe-ingredients ul li{
    list-style: none;
    font-size: 1.3rem;
    padding-right: 40px;
}

.recipe__img{
    height: 600px;
    width: 100%;
    margin: auto;
    border-radius: 20px 20px 0 0;
}

.line{
    width: 90%;
}

@media screen and (max-width: 941px){
    .recipe__img{
        height: 300px;
    }
    .recipe-instructions{
        font-size:medium;
    }
    .recipe-instructions h1{
        font-size: x-large;

    }

    .recipe-ingredients ul li{
        font-size: medium;
    }
    
    .recipe-ingredients h1{
        font-size: x-large;
    }
}

@media screen and (max-width: 450px){
    .recipe__img{
        height: 200px;
    }
}

