body {
  margin: 0;
  font-family: 'Sunflower', sans-serif;
  background-color: rgba(252, 252, 252, 0.96);
  font-weight: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
